<!DOCTYPE html>
<html>
<body>
  <h1>Invoice #<%= invoiceNumber %></h1>
  <p>Dear <%= studentName %>,</p>
  <p>Please find your invoice attached.</p>
  <p>Total Amount Due: <%= currency %> <%= totalAmount %></p>
  <p>Due Date: <%= dueDate %></p>
  <p>Best Regards,<br><%= companyName %></p>
</body>
</html>
